vendor
docroot
composer.lock

.dockerignore
.git
.github
.gitattributes
.gitignore
.env.example
.env
.editorconfig

docker-compose.build.yml
docker-compose.override.yml
docker-compose.yml
run-dev.sh

Dockerfile.build