### Documentation available at https://wodby.com/docs/stacks/drupal/local
### Changelog can be found at https://github.com/wodby/docker4drupal/releases
### Images tags format explained at https://github.com/wodby/docker4drupal#images-tags

### DXPR
DXPR_ACCESS_TOKEN=
SSH_PRIVATE_KEY=''
DXPR_ADMIN_PASSWORD=admin
DXPR_DEMO=dxpr_qa_demo ### Available demos: [dxpr_basic_demo, dxpr_logistics_demo, dxpr_qa_demo]
SITE_INSTALLATION=./ ### Used for bind mount a local demo installation
SITE_INSTALLATION_CONTAINER=/var/www/html:cached  ### This is where to mount the site installation volume inside the container

### DXPR_BUILDER SETUP
DXPR_BUILDER_MODE=dev ### Mode: ["dev", "prod"]
DXPR_BUILDER_TAG='1.x' ### A valid git tag or branch
DXPR_BUILDER_CONTAINER=/usr/src/dxpr_builder # FOR LOCAL DEVELOPMENT
DXPR_BUILDER_HOST=/var/www/html/dxpr/1.x/dxpr_builder/ # FOR LOCAL DEVELOPMENT

### DXPR MAVEN SETUP
DXPR_MAVEN_TAG='main' ### A valid git tag or branch

### PROJECT SETTINGS
PROJECT_NAME=my_drupal9_project
PROJECT_BASE_URL=drupal.docker.localhost

DB_NAME=drupal
DB_USER=drupal
DB_PASSWORD=drupal
DB_ROOT_PASSWORD=password
DB_HOST=mariadb
DB_PORT=3306
DB_DRIVER=mysql

### --- MARIADB ----

MARIADB_TAG=10.5-3.12.1
#MARIADB_TAG=10.4-3.12.1
#MARIADB_TAG=10.3-3.12.1
#MARIADB_TAG=10.2-3.12.1

### --- VANILLA DRUPAL ----

DRUPAL_TAG=9-4.28.0
#DRUPAL_TAG=8-4.28.0
#DRUPAL_TAG=7-4.28.0

### --- PHP ----

# Linux (uid 1000 gid 1000)

PHP_TAG=7.4-dev-4.24.0
#PHP_TAG=8.0-dev-4.24.0
#PHP_TAG=7.3-dev-4.24.0

# macOS (uid 501 gid 20)

#PHP_TAG=8.0-dev-macos-4.24.0
#PHP_TAG=7.4-dev-macos-4.24.0
#PHP_TAG=7.3-dev-macos-4.24.0

### --- NGINX ----

NGINX_TAG=1.19-5.13.1
#NGINX_TAG=1.18-5.13.1

NGINX_VHOST_PRESET=drupal9
#NGINX_VHOST_PRESET=drupal8
#NGINX_VHOST_PRESET=drupal7

NGINX_BACKEND_HOST=qa-demo ### The docker-compose service that hosts the PHP-FPM server.
NGINX_SERVER_ROOT=/var/www/html/docroot ### The site installation document root

### OTHERS

ATHENAPDF_TAG=2.16.0
DRUPAL_NODE_TAG=1.0-2.0.0
RSYSLOG_TAG=latest
SELENIUM_CHROME_TAG=3.141
WEBGRIND_TAG=1-1.21.1
XHPROF_TAG=2.7.1
